@font-face {
    font-family: 'Monday Bay';
    src: url('./fonts/Monday Bay.ttf') format('truetype');
}

.App-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-image: url('./images/avocados.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  font-family: Helvetica ;
}

.App-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  background-image: url('./images/avocados.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Helvetica ;
  min-height: 100%;
}

.veggiezz {
  color: #FADB10;/*#ff8080*/
  font-weight: bold;
  font-size: 10rem;
  text-shadow:0 0 10px black;
  font-family: 'Monday Bay',Helvetica ;
}

@media only screen and (min-width: 48rem) {
  .veggiezz {
    font-size: 12rem;
  }
}
